* {
  box-sizing: "border-box" !important;
}

.container {
  margin-top: 150px;
}

.table {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  table-layout: fixed;
}

p {
  text-align: center;
}

td {
  margin: auto;
  vertical-align: middle !important;
  height: 33%;
  height: 33%;
  margin-top: 100px;
  text-align: center;
}

#x-score {
  float: left;
  width: 90px;
}

#o-score {
  float: right;
  width: 90px;
}

#tie-score {
  text-align: center;
  width: 90px;
  z-index: 1;
  display: inline-block;
}

#scores {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}